<div class="container">
  <pie-chart id="vote-rate-chart"
             data="voteRates"
             height="200"></pie-chart>
  <slider-set class="candidate-set"
              source="elements"
              target="candidate"
              complete="calcVoteRates()"
  ></slider-set>

  <div ng-show="!hasProxies()">
    <button class="btn btn-primary btn-block btn-lg" ng-click="addProxy()">他の人に委任する</button>
  </div>
  <div ng-show="hasProxies()">
    <h3>投票を委任する人</h3>
    <slider-set class="proxy-set"
                source="elements"
                target="proxy"
                complete="calcVoteRates()"
    ></slider-set>
    <button class="btn btn-primary btn-block btn-lg" ng-click="addProxy()">委任する人を追加</button>
  </div>
</div>