<div class="container">
  <h3 class="election-title">{{ election.name }}</h3>

  <div ng-show="!isChartVisible">
    <h4>立候補者の一覧</h4>
    <p>あなたがもつ貴重な１票を、あなた自身が考える比率で選挙の立候補者に対して振り分けてみましょう。</p>
    <p>分割比率が決まったら、投票日に投票すべき候補者をLotteryVoteが計算して推薦してくれます。</p>
  </div>
  <div class="election-detail" ng-show="isChartVisible">
    <pie-chart class="election-vote-rate"
               data="voteRates"
               size="200"></pie-chart>
    <div class="election-actions">
      <button class="btn btn-primary" ng-click="startLottery()">
        <i class="fa fa-bolt fa-2x"></i>
      </button>
    </div>
  </div>
  <slider-set class="candidate-set"
              source="votes"
              target="candidate"
              complete="completeVoteChange()"
              icon-click="navigateToCandidate(element)"
  ></slider-set>

  <div ng-show="!hasProxies()">
    <h4>投票権を委任したい人</h4>
    <p>あなたの投票権の一部を、コミュニティに参加している友達・知り合い・有名知識人などに分割して委任することもできます。</p>
    <button class="btn btn-primary btn-block btn-lg" ng-click="addProxy()">他の人に委任する</button>
  </div>
  <div ng-show="hasProxies()">
    <h4>投票を委任したい人</h4>
    <slider-set class="proxy-set"
                source="votes"
                target="proxy"
                complete="completeVoteChange()"
                icon-click="navigateToProxyUser(element)"
    ></slider-set>
    <button class="btn btn-primary btn-block btn-lg" ng-click="addProxy()">委任する人を追加</button>
  </div>
</div>